.DS_Store
admin/login.php
inc/dbconfig.php
inc/instafeed.php
inc/TweetPHP
feed/*
!feed/wp-content/
feed/wp-content/*
!feed/wp-content/themes/
feed/wp-content/themes/*
!feed/wp-content/themes/blockheads
feed/wp-content/themes/blockheads/.DS_Store
