/*

*/

BODY {
  margin: 0;
  padding: 0;
  background: url(../images/background.jpg) center top;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}

BODY.line {
  background: #111111 url(../images/background-line.jpg) center top;
}

IMG {
  border: 0;
}

HR {
  border: none 0;
  border-top: 1pt solid #000000; /* the border */
  height: 1pt; /* whatever the total width of the border-top and border-bottom equal */
}

A:link, A:visited {
  color: #ED1B35;
  text-decoration: underline;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

A:hover, A:active {
  color: #DCDDDE;
  text-decoration: underline;
}

H1 {
  font-size: 1.7em;
}

H1.pagetitle {
  margin: 0 0 1em;
  font-weight: 800;
  font-size: 8vw;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

H2 {
  font-size: 1.5em;
}

INPUT[type="text"],
INPUT[type="email"],
INPUT[type="password"],
TEXTAREA {
  border: 0;
  border-bottom: 1px solid #464646;
  box-sizing: border-box;
  width: 100%;
  padding: 0.1em 0;
  background: transparent;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-appearance: none; /* I prefer my styles, Steve Jobs */
  border-radius: 0;
  outline: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  overflow: auto; /* Good ol' IE */
  margin-bottom: 2em;
}

INPUT:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #111111 inset !important;
  -webkit-text-fill-color: #FFFFFF;
}

TEXTAREA {
  border: 1px solid #464646;
  padding: 0.9em 1em;
  height: 14em;
  margin: 3em 0;
}

INPUT[type="text"]:focus,
INPUT[type="email"]:focus,
INPUT[type="password"]:focus {
  border-bottom: 1px dotted #FFFFFF;
}

TEXTAREA:focus {
  border: 1px dotted #FFFFFF;
}

INPUT::-webkit-input-placeholder { color: #FFFFFF; opacity: 1; }
INPUT:-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 4-18 */
INPUT::-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 19+ */
INPUT:-ms-input-placeholder { color: #FFFFFF; opacity: 1; } /* IE 10+ */
TEXTAREA::-webkit-input-placeholder { color: #FFFFFF; opacity: 1; }
TEXTAREA:-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 4-18 */
TEXTAREA::-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 19+ */
TEXTAREA:-ms-input-placeholder { color: #FFFFFF; opacity: 1; } /* IE 10+ */

INPUT:focus::-webkit-input-placeholder { color: transparent; }
INPUT:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
INPUT:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
INPUT:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */
TEXTAREA:focus::-webkit-input-placeholder { color: transparent; }
TEXTAREA:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
TEXTAREA:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
TEXTAREA:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */

INPUT[type="submit"] {
  border: 0;
  box-sizing: border-box;
  padding: 1em 1.5em 1em 1.7em;
  border-radius: 0;
  background: #FFFFFF;
  color: #EC1B23;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: 0.2em;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-appearance: none; /* I prefer my styles, Steve Jobs */
  display: block;
  margin: 0 auto;
}

INPUT[type="submit"]:hover {
  background: #464646;
  color: #FFFFFF;
}

INPUT[type="submit"]:focus {
  outline: none;
}

FORM .radio {
  text-align: left;
  display: inline-block;
  margin-bottom: 2em;
}

FORM LABEL {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 1.5em;
  margin: 0.3em 0;
}

FORM INPUT[type=checkbox],
FORM INPUT[type=radio] {
  display: none;
}

FORM LABEL:after {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #22291B;
  -webkit-box-shadow:inset 0px 0px 0px 3px #EC1B23;
  -moz-box-shadow:inset 0px 0px 0px 3px #EC1B23;
  box-shadow:inset 0px 0px 0px 3px #EC1B23;
  border-radius: 8px;
}

FORM input[type=checkbox]:checked + label:after,
FORM input[type=radio]:checked + label:after {
  background: #EC1B23;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
 
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.site-width {
  width: 1000px;
  margin: 0 auto;
}

.site-width:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.one-half {
  float: left;
  width: 45%;
  margin-right: 10%;
}

.one-half.last {
  margin-right: 0;
}

.redtext { color: #ED1B35; }
.centered { text-align: center; }

.home-banner {
  color: white;
  height: calc(100vh - 84px);
  position: relative;
}

.home-banner .image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: calc(100vh - 84px);
  width: 56.5%;
  background-image: url(../images/featured-image-generic.jpg);
  background-position: center center;
  background-size: cover;
}

.home-banner .image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.home-banner .site-width {
  height: 100%;
  position: relative;
}

.home-banner .home-banner-left {
  float: left;
  width: 39.6%;
  height: 100%;
  position: relative;
  background: url(../images/background.jpg) no-repeat left top;
}

.home-banner .home-banner-left IMG {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-height: 90%;
  width: auto;
}

.home-banner .home-banner-right {
  width: 52.7%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.home-banner .home-banner-right H3 {
  margin: 0;
  font-weight: 800;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 1em;
}

.home-banner .home-banner-right H1 {
  margin: 0.9em 0 1.2em;
  font-weight: 800;
  font-size: 80px;
  line-height: 1.15em;
  text-transform: uppercase;
}

@media only screen and (max-height: 800px) {
  .home-banner .home-banner-right H1 {
    font-size: 9vh;
  }
}

.home-banner .home-banner-right A:link,
.home-banner .home-banner-right A:visited {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.3em;
}

.home-banner .home-banner-right A:hover,
.home-banner .home-banner-right A:active {
  color: #141011;
  text-decoration: none;
}

.home-banner .home-banner-right A.button:link,
.home-banner .home-banner-right A.button:visited {
  color: #141011;
  border: 5px solid #141011;
  text-decoration: none;
  letter-spacing: 0.75em;
  padding: 0.2em 0.3em 0.2em 1em;
  margin-right: 2em;
  display: inline-block;
}

.home-banner .home-banner-right A.button:hover,
.home-banner .home-banner-right A.button:active {
  color: #FFFFFF;
  border: 5px solid #FFFFFF;
  text-decoration: none;
}

.menu {
  background: #ED1B35;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 2px;
  position: relative;
}

.menu.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  text-align: left;
}

#show-menu,
#menu-toggle {
  display: none;
}

.menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.menu.sticky UL {
  float: right;
}

.menu UL LI {
  display: inline-block;
  height: 84px;
  line-height: 84px;
  margin: 0 2em;
}

.menu.sticky UL LI {
  height: 70px;
  line-height: 70px;
}

.menu UL LI.menu-social {
  display: none;
}

.menu UL LI A:link,
.menu UL LI A:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.menu UL LI A:hover,
.menu UL LI A:active {
  color: #660000;
  text-decoration: none;
}

.menu .menu-logo {
  display: none;
  float: left;
  height: 70px;
  line-height: 70px;
}

.menu.sticky .menu-logo {
  display: block;
}

.menu-logo IMG {
  vertical-align: middle;
  margin-right: 1em;
}

.menu-logo A {
  color: #660000;
  text-decoration: none;
}

.menu-spacer.sticky {
  height: 70px;
}

.home-posts A.header:link,
.home-posts A.header:visited {
  color: rgba(237,255,244,0.1);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 1em;
  line-height: 1em;
  font-weight: 800;
  font-size: 8vw;
  text-align: center;
}

.home-posts A.header:hover,
.home-posts A.header:active {
  color: rgba(237,255,244,0.15);
  text-decoration: none;
}

.home-posts .post {
  display: inline-block;
  vertical-align: top;
  width: 31%;
  padding: 1em 1.16%;
  margin: 0 -2px 3em -2px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.8em;
}

.home-posts A.post:link,
.home-posts A.post:visited {
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

.home-posts A.post:hover,
.home-posts A.post:active {
  color: #EC1B23;
  text-decoration: underline;
}

.home-posts .post .image {
  background-image: url(../images/featured-image-generic.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 2em;
}

.home-posts .post .image:after {
  padding-top: 62.75%;
  display: block;
  content: '';
}

.home-posts .post H3 {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 1em;
  text-transform: uppercase;
  color: #6A6264;
}

.home-posts A.post:hover H3 {
  color: #EC1B23;
}

.home-posts .post H2 {
  margin: 0.5em 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.2em;
}

.home-posts A.button:link,
.home-posts A.button:visited {
  color: #EC1B23;
  border: 5px solid #EC1B23;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0.75em;
  padding: 0.7em 1.3em 0.7em 2em;
  margin: 4em 0 6em;
  display: inline-block;
}

.home-posts A.button:hover,
.home-posts A.button:active {
  color: #6A6264;
  border: 5px solid #6A6264;
  text-decoration: none;
}

.home-poll {
  background: #FFFFFF;
  color: #000000;
  text-align: center;
  padding: 4em 0;
}

.home-event {
  background-color: #EC1B23;
  color: white;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 6em 0 5em;
  position: relative;
}

.home-event .image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  background-image: url(../images/featured-image-generic.jpg);
  background-position: center center;
  background-size: cover;
}

.home-event .image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.home-event .header {
  padding-left: calc(2em + 12px);
  color: #660000;
}

.home-event .event {
  margin: 2em 0;
  border: 12px solid #FFFFFF;
  padding: 0.9em 1em;
  font-size: 29px;
  line-height: 1em;
  position: relative;
  z-index: 5;
}

.home-event .event .event-left {
  float: left;
  width: 30%;
}

.home-event .event .event-left .event-month {
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-bottom: 8px;
}

.home-event .event .event-left .event-date {
  font-size: 80px;
  line-height: 1em;
  margin-bottom: 10px;
}

.home-event .event .event-left A.button:link,
.home-event .event .event-left A.button:visited {
  color: #151112;
  border: 5px solid #151112;
  text-decoration: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.3em;
  padding: 0.9em 1.2em 0.9em 1.5em;
  display: inline-block;
  margin-top: 4em;
}

.home-event .event .event-left A.button:hover,
.home-event .event .event-left A.button:active {
  color: #D7D7D7;
  border: 5px solid #D7D7D7;
  text-decoration: none;
}

.home-event .event .event-right {
  float: right;
  width: 60%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3em;
  text-decoration: underline;
  text-transform: uppercase;
  padding-bottom: 0.2em;
}

.home-event A.more:link,
.home-event A.more:visited {
  margin-left: calc(2em + 12px);
  color: #D7D7D7;
  text-decoration: none;
}

.home-event A.more:hover,
.home-event A.more:active {
  color: #151112;
  text-decoration: none;
}

.social-header {
  font-size: 18px;
  line-height: 1em;
  padding: 3em 0;
  position: relative;
}

.social-header-title {
  position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  height: 92%;
  color: rgba(237,255,244,0.1);
  line-height: 1em;
  font-weight: 800;
  font-size: 8vw;
  text-align: center;
  text-transform: uppercase;
}

.social-header .social-header-left,
.social-header .social-header-right {
  float: left;
  width: 50%;
  text-align: center;
  position: relative;
  z-index: 5;
}

.social-header .social-header-left A:link,
.social-header .social-header-left A:visited {
  color: #EC1B23;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
  margin: 0 1em;
}

.social-header .social-header-left A:hover,
.social-header .social-header-left A:active {
  color: #E8E7E7;
  text-decoration: none;
}

.social-header .social-header-right A:link,
.social-header .social-header-right A:visited {
  color: #E8E7E7;
  font-size: 22px;
  margin: 0 0.7em;
}

.social-header .social-header-right A:hover,
.social-header .social-header-right A:active {
  color: #EC1B23;
}

.social {
  float: left;
  width: 20%;
  position: relative;
  background: url(../images/background.jpg) left top;
}

.social:before {
  padding-top: 100%;
  display: block;
  content: '';
}

.social:after {
  font-family: 'FontAwesome';
  content: '';
  position: absolute;
  right: 0.8em;
  bottom: 0.8em;
  font-size: 24px;
  color: #CFD1D2;
}

.social.instagram:after {
  content: '\f16d';
}

.social.twitter:after {
  content: '\f099';
  color: #5F5D5D;
}

.social A:link,
.social A:visited {
  color: #D1D3D4;
  text-decoration: none;
}

.social A:hover,
.social A:active {
  color: #EC1B23;
  text-decoration: none;
}

.social .content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2em;
  color: #D1D3D4;
  font-weight: bold;
  font-size: 13px;
  line-height: 2em;
  background-position: center center;
  background-size: cover;
}

.social .tweet-link {
  position: absolute;
  left: 2em;
  bottom: 2em;
  font-weight: bold;
  font-size: 12px;
  line-height: 1em;
}

.footer-contact {
  padding: 2em 0;
  background: #EBEBEB;
  font-weight: 800;
  font-size: 14px;
  line-height: 1em;
  text-align: center;
}

.footer-contact.dark {
  background: #000000;
}

.footer-contact A:link,
.footer-contact A:visited {
  color: #000000;
  border: 5px solid #000000;
  text-decoration: none;
  letter-spacing: 0.3em;
  padding: 0.8em 3.2em 0.8em 3.5em;
  display: inline-block;
}

.footer-contact.dark A:link,
.footer-contact.dark A:visited {
  color: #FFFFFF;
  border: 5px solid #FFFFFF;
  text-decoration: none;
}

.footer-contact A:hover,
.footer-contact A:active,
.footer-contact.dark A:hover,
.footer-contact.dark A:active {
  color: #ED1B35;
  border: 5px solid #ED1B35;
}

.prefooter {
  padding: 4em 0;
  background: #FFFFFF;
  color: #333132;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
}

.prefooter .site-width {
  width: 700px;
}

.prefooter IMG {
  width: 114px;
  height: auto;
}

.bh-footer {
  padding: 4em 0;
  background: #FFFFFF;
  color: #333132;
  font-size: 8px;
}

.bh-footer-left,
.bh-footer-right {
  float: left;
  width: 50%;
  margin-bottom: 4em;
}

.bh-footer-right {
  text-align: right;
}

.bh-footer-left A:link,
.bh-footer-left A:visited {
  color: #333132;
  text-decoration: none;
  font-weight: 800;
  font-size: 11px;
  letter-spacing: 0.2em;
  line-height: 1em;
  margin-left: 5em;
}

.bh-footer-left A:first-of-type {
  margin-left: 0;
}

.bh-footer-left A:hover,
.bh-footer-left A:active {
  color: #660000;
  text-decoration: none;
}

.bh-footer-right A:link,
.bh-footer-right A:visited {
  color: #333132;
  font-size: 20px;
  line-height: 1em;
  margin-right: 1.5em;
}

.bh-footer-right A:last-of-type {
  margin-right: 0;
}

.bh-footer-right A:hover,
.bh-footer-right A:active {
  color: #660000;
}

.banner-feed-index {
  text-align: center;
  padding: 3em 0 4em;
  position: relative;
}

.banner-feed-index:before {
  content: "#HARKENBLOCKHEADS";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(237,255,244,0.1);
  line-height: 1em;
  font-weight: 800;
  font-size: 8vw;
  text-align: center;
  text-transform: uppercase;
}

.banner-feed-index H1 {
  margin: 0;
  font-weight: 800;
  font-size: 15px;
  line-height: 1em;
  letter-spacing: 0.3em;
  text-decoration: underline;
  text-transform: uppercase;
}

.banner-feed-index H3,
.banner-feed-index .banner-feed-single-image {
  display: none;
}

.banner-feed-single {
  padding: 4em 0;
  text-align: center;
}

.banner-feed-single H1 {
  margin: 0 0 0.7em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.2em;
}

.banner-feed-single H3 {
  margin: 0 0 4em;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 1em;
  color: #60595A;
}

.banner-feed-single-image {
  height: 650px;
  background-image: url(../images/featured-image-generic.jpg);
  background-position: center center;
  background-size: cover;
}

.feed-video {
  position: relative;
  cursor: pointer;
}

.feed-video IMG {
  max-width: 100%;
  height: auto;
}

.feed-video:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}

.feed-video:after {
  color: #DCDDDE;
  font-family: "FontAwesome";
  font-size: 15vw;
  content: "\f01d";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feed-video:hover:after {
  color: #ED1B35;
}

.post-single {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  line-height: 2em;
  color: #DCDDDE;
  padding-bottom: 5em;
}

.post-single IMG {
  max-width: 100%;
  height: auto;
}

.post-single .alignleft {
  display: inline;
  float: left;
}

.post-single .alignright {
  display: inline;
  float: right;
}

.post-single .aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.post-single IMG.alignleft {
  margin: 0.4em 1.6em 1.6em 0;
}

.post-single IMG.alignright {
  margin: 0.4em 0 1.6em 1.6em;
}

.post-single IMG.aligncenter {
  clear: both;
  margin-top: 0.4em;
  margin-bottom: 1.6em;
}

.post-single IMG.size-full {
  margin: 4em 0 3em;
}

.post-single .gallery {
  margin: 4em 0 3em;
}

.post-single .gallery .gallery-item {
  float: left;
  width: 32%;
  margin: 1% 2% 1% 0;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.post-single .gallery .gallery-item:nth-child(3n+3) {  
  margin-right: 0;
}

.post-single .gallery .gallery-item:after {
  padding-top: 62.75%;
  display: block;
  content: '';
}

.post-single .gallery .gallery-item A {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

A#loadmore:link,
A#loadmore:visited {
  color: #EC1B23;
  border: 5px solid #EC1B23;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.3em;
  padding: 0.7em 0.8em 0.7em 1.1em;
  display: inline-block;
  margin: 4em 0 8em;
}

A#loadmore:hover,
A#loadmore:active {
  color: #E8E7E7;
  border: 5px solid #E8E7E7;
  text-decoration: none;
}

.ssba {
  color: #ED1B35;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.5em;
  margin: 5em 0 1em;
}

.ssba IMG {
  display: none;
}

.ssba A:link,
.ssba A:visited {
  color: #DCDDDE;
  text-decoration: none;
  display: inline-block;
  width: 31px;
  height: 24px;
  font-size: 24px;
  line-height: 1em;
  font-family: "FontAwesome";
  margin: 1.9em 0.5em 0;
}

.ssba A:hover,
.ssba A:active {
  color: #FFFFFF;
  text-decoration: none;
}

.ssba .ssba_facebook_share:after { content: "\f09a"; }
.ssba .ssba_twitter_share:after { content: "\f099"; }
.ssba .ssba_google_share:after { content: "\f0d5"; }
.ssba .ssba_email_share:after { content: "\f003"; }

.post-rec {
  text-align: center;
  background: #EBEBEB;
  color: #333132;
  font-weight: bold;
  font-size: 12px;
  padding: 5.5em 0 9em;
  position: relative;
}

.post-rec:before {
  content: "#HARKENBLOCKHEADS";
  position: absolute;
  top: 2%;
  left: 0;
  width: 100%;
  height: 100%;
  color: #E1E2E2;
  line-height: 1em;
  font-weight: 800;
  font-size: 8vw;
  text-align: center;
  text-transform: uppercase;
}

.post-rec H4 {
  margin: 0 0 4em;
  font-weight: 800;
  font-size: 20px;
  line-height: 1em;
  letter-spacing: 0.3em;
  text-align: center;
  color: #ED1B35;
  position: relative;
  z-index: 1;
}

.post-rec .post {
  width: 22%;
  font-size: 12px;
  position: relative;
  z-index: 1;
}

.post-rec A.post:link,
.post-rec A.post:visited {
  color: #333132;
  cursor: pointer;
}

.post-rec A.post:hover,
.post-rec A.post:active {
  /*background: #E1E2E2;*/
  color: #EC1B23;
}

.post-rec .post H3 {
  font-size: 10px;
  color: #333132;
}

.post-rec .post H2 {
  font-size: 28px;
}

.join {
  padding: 80px 0 160px;
  font-weight: bold;
  line-height: 2em;
}

.join H1.pagetitle {
  font-size: 7vw;
}

.join-form-header {
  position: relative;
}

.join-form-header-left {
  float: left;
  width: 66%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.join-form-header-right {
  float: right;
  width: 33%;
  text-align: center;
}

.join-form-header-right IMG {
  height: 230px;
  width: auto;
}

#join-form {
  margin-top: 4em;
  border: 12px solid #ED1B35;
  box-sizing: border-box;
  padding: 6em 7% 2em;
}

#join-form #firstname,
#join-form #lastname {
  float: left;
  width: 42%;
  margin-right: 4%;
}

#join-form #age {
  float: right;
  width: 8%;
}

#join-form #city,
#join-form #state,
#join-form #zip,
#join-form #country {
  float: left;
  width: 25%;
  margin-right: 4%;
}

#join-form #zip {
  width: 13%;
}

#join-form #country {
  margin-right: 0;
}

#join-form .centered {
  margin: 4em 0;
  font-size: 12px;
}

#join-form .contest-fields {
  font-size: 16px;
}

#join-form .contest-fields .contest-reveal {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.5s;
  transform: scale(0.8);
}

#join-form INPUT[type="checkbox"]#r-contest:checked ~ .contest-reveal {
  height: auto;
  opacity: 1;
  overflow: visible;
  transform: scale(1);
}

#join-form #membership-number {
  margin-bottom: 0;
}

#join-form #membership-number-note {
  text-align: left;
  font-size: 70%;
  line-height: 1em;
  margin: 0.2em 0 2.5em;
}

#join-form INPUT[type="submit"] {
  padding: 1em 4em;
  margin: 4em auto 1em;
}

#join-form INPUT[type="submit"][disabled],
#join-form INPUT[type="submit"][disabled]:hover {
  background: #464646;
  color: #000000;
}

#join-form  #join-form-messages {
  height: 3em;
  line-height: 1.5em;
  text-align: center;
  color: #EC1B23;
}

.social-header-title.sht-join {
  top: -60px;
  height: auto;
  font-size: 11.5vw;
}

.events-header {
  padding: 80px 0 0;
}

.events {
  padding: 0 0 160px;
}

.events-header:after {
  content: "#HARKENBLOCKHEADS";
  position: absolute;
  top: 8%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1em;
  color: rgba(237,255,244,0.1);
  line-height: 1em;
  font-weight: 800;
  font-size: 8vw;
  text-align: center;
  text-transform: uppercase;
}

.events-header H1.pagetitle {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 10vw;
  letter-spacing: 0.4em;
  margin-bottom: 0.4em;
}

.events-featured {
  position: relative;
  margin-bottom: 100px;
}

.events-featured-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 50%;
  height: 100%;
  border: 12px solid #ED1B35;
  box-sizing: border-box;
}

.events-featured-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url(../images/featured-image-generic.jpg);
  background-position: center center;
  background-size: cover;
}

.events-featured-content {
  float: left;
  width: 45%;
  padding: 5em 0;
  font-weight: 800;
}

.events-featured-content H4 {
  margin: 0;
  font-weight: 800;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.3em;
  text-decoration: underline;
}

.events-featured-content .events-featured-date {
  font-size: 40px;
  line-height: 1em;
  color: #ED1B35;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1.2em 0;
}

.events-featured-content .events-featured-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 65px;
  line-height: 1.2em;
  text-decoration: underline;
  margin-bottom: 2em;
}

.events-featured-content A.button:link,
.events-featured-content A.button:visited {
  color: #FFFFFF;
  border: 5px solid #ED1B35;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.4em;
  padding: 0.7em 1.4em 0.7em 2em;
  display: inline-block;
}

.events-featured-content A.button:hover,
.events-featured-content A.button:active {
  color: #FFFFFF;
  border: 5px solid #FFFFFF;
  text-decoration: none;
}

.events H3 {
  margin: 0.2em 0 1.5em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 1em;
  letter-spacing: 0.3em;
  text-decoration: underline;
  text-align: center;
}

.events-list {
  width: 100%;
  font-weight: 800;
  font-size: 18px;
}

.events-list TD {
  padding: 20px 0;
}

.events-list TD.events-year {
  font-family: 'Work Sans', sans-serif;
  font-size: 60px;
  line-height: 1em;
  color: #2C292A;
  letter-spacing: 0.3em;
  padding: 0.5em 0;
}

.events-list TD.events-date {
  width: 18%;
  text-transform: uppercase;
  font-size: 20px;
  color: #ED1B35;
}

.events-list TD.events-title {
  width: 52%;
}

.events-list TD.events-location {
  width: 20%;
}

.events-list TD.events-details {
  width: 10%;
  font-size: 16px;
  text-align: right;
}

.events-list TD.events-details A:link,
.events-list TD.events-details A:visited {
  color: #ED1B35;
  text-decoration: none;
}

.events-list TD.events-details A:hover,
.events-list TD.events-details A:active {
  color: #FFFFFF;
  text-decoration: none;
}

.event-single {
  position: relative;
  margin-top: 60px;
}

.event-single-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url(../images/featured-image-generic.jpg);
  background-position: center center;
  background-size: cover;
}

.event-single-right:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}

.event-single-content {
  float: left;
  width: 60%;
  font-weight: 800;
  position: relative;
  z-index: 5;
  min-height: 600px;
}

.event-single-content .event-single-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 90px;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

.event-single-header {
  font-weight: 800;
  font-size: 14px;
  color: #ED1B35;
  letter-spacing: 0.1em;
}

.event-single-content .event-single-date {
  font-size: 24px;
  line-height: 1em;
  letter-spacing: 0.1em;
  margin-bottom: 1.5em;
}

.event-single-content .event-single-time {
  font-weight: bold;
  font-size: 20px;
  line-height: 1em;
  margin-bottom: 1.5em;
}

.event-single-details {
  font-weight: bold;
  font-size: 14px;
  line-height: 2em;
  color: #DCDDDE;
  margin-bottom: 6em;
}

.event-single-details .event-single-header {
  letter-spacing: 0.3em;
  margin-bottom: 5em;
}

.contact {
  padding: 80px 0 130px;
  font-weight: bold;
  text-align: center;
  line-height: 2em;
}

.contact H1.pagetitle {
  font-size: 8.9vw;
  margin-bottom: 0.5em;
}

.social-header-title.sht-contact {
  top: -60px;
  height: auto;
  font-size: 11.5vw;
}

.contact #contact-form {
  margin-top: 5em;
}

.contact #firstname {
  float: left;
  width: 48%;
}

.contact #lastname {
  float: right;
  width: 48%;
}

.contact INPUT[type="submit"] {
  margin: 2em auto;
}

.contact #contact-form-messages {
  height: 3em;
  line-height: 1.5em;
  text-align: center;
  color: #EC1B23;
}

.terms {
  padding: 80px 0 160px;
  font-size: 14px;
  line-height: 2em;
}

.terms H1.pagetitle {
  font-size: 5vw;
}

.terms H3 {
  margin: 0 0 0.2em;
  font-weight: 800;
  font-size: 24px;
  line-height: 1em;
  text-transform: uppercase;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}
.pulse {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: pulse;
  animation-name: pulse
}

#contest {
  background: #FFFFFF;
  color: #000000;
  padding: 4em 0;
}

#contest H2 {
  margin: 0 0 0.5em;
  font-weight: 800;
  font-size: 78px;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

#contest IMG {
  float: left;
  width: 42%;
  height: auto;
}

#contest .text {
  float: right;
  width: 51%;
  font-weight: 800;
  line-height: 2em;
}

#contest .text H3 {
  margin: 0 0 0.8em;
  color: #ED1B35;
  font-weight: 800;
  font-size: 27px;
  line-height: 1.2em;
  text-transform: uppercase;
}

#contest .text A.button:link,
#contest .text A.button:visited {
  color: #EC1B23;
  border: 5px solid #EC1B23;
  text-decoration: none;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0.4em;
  padding: 0.7em 1em 0.7em 1.4em;
  display: inline-block;
  margin-top: 3em;
}

#contest .text A.button:hover,
#contest .text A.button:active {
  color: #000000;
  border-color: #000000;
}

@media only screen and (max-width: 1024px) {
  .site-width {
    width: 96%;
  }

  #contest H2 { font-size: 7.4vw; }
}

@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  .home-banner .home-banner-left IMG {
    max-height: 100%;
    max-width: 100%;
    height: auto;
  }

  .home-banner .home-banner-right H1 {
    font-size: 8.5vw;
  }

  @media only screen and (max-height: 800px) {
    .home-banner .home-banner-right H1 {
      font-size: 8vh;
    }
  }

  .home-event .event {
    font-size: 24px;
  }

  .home-event .event .event-left {
    width: 36%;
  }

  .home-event .event .event-left .event-date {
    font-size: 72px;
  }

  .home-event .event .event-right {
    width: 56%;
  }

  .home-event .event .event-right {
    font-size: 66px;
  }

  .social-header .social-header-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .social-header .social-header-right {
    float: right;
  }

  .social {
    width: 33.33%;
  }

  .social-tiles > DIV:last-of-type {
    display: none;
  }

  .prefooter .site-width {
    width: 75%;
  }

  .banner-feed-single-image {
    height: 500px;
  }

  .join H1.pagetitle {
    font-size: 10vw;
  }

  .events-featured-content {
    width: 43%;
    margin-left: 2%;
  }

  .events-list TD.events-title {
    width: 45%;
    padding-right: 2%;
  }

  .events-list TD.events-location {
    width: 22%;
  }

  .events-list TD.events-details {
    width: 13%;
  }

  .event-single-content {
    width: 100%;
  }

  .contact H1.pagetitle {
    font-size: 12vw;
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet */
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .home-banner .site-width {
    width: 100%;
  }

  .home-banner .image {
    top: 300px;
    height: calc(100vh - 384px);
    width: 100%;
  }

  .home-banner .home-banner-left {
    float: none;
    width: 100%;
    height: 300px;
  }

  .home-banner .home-banner-left IMG {
    max-height: 80%;
    width: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home-banner .home-banner-right {
    float: none;
    width: 90%;
    position: relative;
    top: 0;
    transform: none;
    height: calc(100vh - 384px);
    margin: 0 auto;
  }

  @media only screen and (max-height: 800px) {
    .home-banner .home-banner-right H1 {
      font-size: 6.5vh;
    }
  }

  .home-banner .home-banner-right > DIV {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu.sticky {
    text-align: center;
  }

  .menu.sticky UL {
    display: none;
  }

  .menu.sticky #menu-toggle {
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 40px;
    height: auto;
    line-height: 1em;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu.sticky #menu-toggle:after {
    font-family: 'FontAwesome';
    content: "\f0c9";
  }

  .menu.sticky #show-menu:checked + #menu-toggle:after {
    content: "\2715";
  }

  .menu.sticky #show-menu:checked + #menu-toggle + UL {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: rgba(237,27,53,0.9);
  }

  .home-posts .post {
    width: 96%;
    margin: 0.5em 0 3em;
  }

  .home-event {
    padding: 3em 0;
  }

  .home-event .image {
    top: auto;
    bottom: 0;
    height: 58%;
    width: 100%;
  }

  .home-event .event {
    margin: 1.5em 0;
  }

  .home-event .event .event-left,
  .home-event .event .event-right {
    float: none;
    width: 100%;
  }

  .home-event .event .event-left {
    position: relative;
    margin-bottom: 2em;
  }

  .home-event .event .event-left A.button:link,
  .home-event .event .event-left A.button:visited {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
  }
  
  .home-event A.more:link,
  .home-event A.more:visited {
    margin-left: 0;
    position: absolute;
    top: 3em;
    right: calc(2% + 2em + 12px);
  }

  .social {
    width: 50%;
  }

  .social-tiles > DIV:last-of-type {
    display: block;
  }

  .banner-feed-single-image {
    height: 400px;
  }

  .post-single .gallery .gallery-item,
  .post-single .gallery .gallery-item:nth-child(3n+3) {
    width: 49%;
    margin: 1% 2% 1% 0;
  }

  .post-single .gallery .gallery-item:nth-child(2n+2) {  
    margin-right: 0;
  }

  .post-rec .post {
    width: 48%;
  }

  #join-form #city,
  #join-form #state,
  #join-form #zip,
  #join-form #country {
    width: 48%;
    margin-right: 4%;
  }

  #join-form #state,
  #join-form #country {
    margin-right: 0;
  }

  .events-featured-left {
    display: none;
  }

  .events-featured-right {
    position: static;
    width: 100%;
    height: 400px;
  }

  .events-featured .site-width {
    width: 100%;
  }

  .events-featured-content {
    float: none;
    width: 100%;
    margin: 0;
    padding: 3em 4%;
    border: 12px solid #ED1B35;
    box-sizing: border-box;
  }

  .events-featured-content .events-featured-date {
    padding: 1em 0;
  }

  .events-featured-content .events-featured-title {
    margin-bottom: 1em;
  }
  
  .events-list TD.events-date,
  .events-list TD.events-title,
  .events-list TD.events-location,
  .events-list TD.events-details {
    display: block;
    width: 100%;
    padding: 0.25em 0;
  }

  .events-list TD.events-details {
    padding-bottom: 3em;
    text-align: left;
  }

  .event-single-right {
    position: static;
    width: 100%;
    height: 400px;
  }

  .event-single-content {
    float: none;
    width: 100%;
    padding-top: 3em;
    min-height: 0;
  }

  .event-single-content .event-single-title {
    font-size: 70px;
  }

  .event-single-details .event-single-header {
    margin-bottom: 0;
  }

  .contact #firstname,
  .contact #lastname {
    float: none;
    width: 100%;
  }
  
  #contest H2 { font-size: 7.2vw; }

  #contest IMG { display: none; }

  #contest .text { float: none; width: 100%; }

  #contest .text H3 { font-size: 4.5vw; }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  BODY {
    padding-top: 70px;
  }

  .home-banner .image {
    top: 0;
    height: calc(100vh - 70px);
  }

  .home-banner .home-banner-left {
    display: none;
  }

  .home-banner .home-banner-right {
    width: 96%;
    height: calc(100vh - 70px);
  }

  .home-banner .home-banner-right H1 {
    font-size: 14vw;
  }

  .menu-spacer {
    position: absolute;
    top: 0;
  }
  
  .menu,
  .menu.sticky {
    position: absolute;
  }

  .menu UL {
    padding: 0.7em 0 0;
    font-size: 40px;
    letter-spacing: 0.3em;
  }

  .menu UL LI {
    display: block;
    margin: 0;
    height: auto;
    line-height: 1em;
    padding: 0.25em 0 0.25em 0.3em;
  }

  .menu UL LI.menu-social {
    display: block;
    font-size: 28px;
    letter-spacing: 0.7em;
    padding: 2em 0 0.5em;
  }

  .home-posts {
    margin-top: 1.4em;
  }

  .home-posts A.button:link,
  .home-posts A.button:visited {
    margin: 1em 0 4em;
  }

  .home-event .image {
    height: 50%;
  }

  .home-event .header {
    padding-left: 2%;
  }

  .home-event A.more:link, .home-event A.more:visited {
    right: 3%;
  }

  .home-event .event .event-left A.button:link,
  .home-event .event .event-left A.button:visited {
    position: static;
    margin-top: 1em;
    background: #EC1B23;
  }

  .home-event .event .event-right {
    font-size: 48px;
  }

  .social-header {
    padding: 1.5em 0;
  }
  
  .social-header .social-header-left {
    position: relative;
    transform: none;
    float: none;
    width: 100%;
    margin-bottom: 1em;
  }

  .social-header .social-header-right {
    float: none;
    width: 100%;
  }

  .social {
    width: 100%;
  }

  .social .content {
    font-size: 18px;
    line-height: 1.8em;
  }

  .prefooter .site-width {
    width: 90%;
  }

  .bh-footer {
    text-align: center;
  }

  .bh-footer-left,
  .bh-footer-right {
    float: none;
    width: 100%;
    text-align: center;
  }

  .banner-feed-single-image {
    height: 300px;
  }

  .post-single .gallery .gallery-item,
  .post-single .gallery .gallery-item:nth-child(3n+3),
  .post-single .gallery .gallery-item:nth-child(2n+2) {
    width: 100%;
    margin: 2% 0;
  }

  .post-rec .post {
    width: 96%;
    margin: 1em 0;
    box-sizing: border-box;
  }

  .join-form-header-left {
    width: 60%;
  }

  .join-form-header-right {
    width: 40%;
  }
  
  #join-form #firstname,
  #join-form #lastname,
  #join-form #age,
  #join-form #city,
  #join-form #state,
  #join-form #zip,
  #join-form #country {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  
  .events-featured-right,
  .event-single-right {
    height: 300px;
  }

  .event-single-content .event-single-title {
    font-size: 53px;
  }
}

@media only screen and (max-width: 390px) {
  /* Small Phone */
  .menu-logo {
    font-size: 15px;
  }

  .menu-logo IMG {
    margin-right: 0.5em;
  }

  .home-banner .home-banner-right A.button:link,
  .home-banner .home-banner-right A.button:visited {
    margin-bottom: 1em;
  }

  .home-banner .home-banner-right A.more:before {
    content: "\A";
    white-space: pre;
  }

  .banner-feed-single H1 {
    font-size: 60px;
  }

  .banner-feed-single-image {
    height: 250px;
  }
}